body {
    background-image: url('../assets/flores-de-cerezo-4625.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#miTexto {
    margin-bottom: 20px;
}

#miBoton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#miBoton:hover {
    background-color: #ff1493;
}
